<div id="{{ id }}" class="localist-widget"></div>
<script defer type="text/javascript" src="{{ domain }}/widget/view?schools={{ schools }}&groups={{ groups }}&days={{ days }}&num={{ total }}&all_instances={{ all_instances }}&show_times={{ show_times }}&target_blank={{ target_blank }}&container={{ id }}"></script>
